<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" src="lib/js/bootstrap/css/bootstrap.css">
	<script type="text/javascript" src="lib/js/bootstrap/js/jquery-3.1.0.js"></script>
	<script type="text/javascript" src="lib/js/bootstrap/js/bootstrap.js"></script>

	<script type="text/javascript" src="lib/js/angular/angular.js"></script>
	<title>Angular JS Test</title>
</head>
<body ng-app='test', ng-controller="testCtrl" ng-init="price = 1; amount=3; firstName='aaa'">
	price: <input type="text" name="" ng-model="price" placeholder="input price">
	<br>
	<p ng-bind="price"></p>
	<p>姓名为 <span ng-bind="firstName"></span></p>
	amount: <input type="text" name="" ng-bind="amount" placeholder="input amount">
	<br>

	total price:  <span ng-bind="price * amount | currency"></span>

	<p ng-repeat="i in is">{{is}}</p>
	label:&;<helloWorld></helloWorld>
	class: &; <div class='hello-world'></div>
	attribute: <div helloWorld></div>

	{{location}}
	
</body>

<script type="text/javascript">
	var app = angular.module('test', []);
	app.controller('testCtrl', function($scope, $rootScope, $location, $timeout, $interval, time) {
		$scope.is = [0, 1, 2, 3, 4];
		$rootScope.is2 = [0, 1, 2, 3, 4];

		$scope.location = $location.absUrl();

		$interval(function() {
			$scope.location = time.myFunc();
		}, 1000);
	});

	app.directive("helloWorld", function() {
		return {
			restrict: "C",
			template:"<h1>Hello world!</h1>"
		};
	});

	app.service('time', function() {
		this.myFunc = function() {
			return new Date();
		}
	})
</script>
</html>
